.scmain,
.managemain {
  display: flex;
  margin: 0 0.4rem;
  height: 7.7rem;
  overflow: hidden;
  background: #fff;
}
.scmain .nav,
.managemain .nav {
  width: 1.84rem;
  height: 100%;
  background: #ddd;
  font-size: 0.266rem;
  color: #666;
}
.scmain .nav ul li,
.managemain .nav ul li {
  display: flex;
  width: 1.84rem;
  height: 0.82rem;
  box-sizing: border-box;
  padding: 0.26rem 0.2rem;
  justify-content: space-between;
  border-bottom: #cccccc solid 0.01rem;
  cursor: pointer;
}
.scmain .nav ul li span.icon,
.managemain .nav ul li span.icon {
  width: 0.3rem;
  height: 0.3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.scmain .nav ul li:nth-of-type(1) .icon.sc,
.managemain .nav ul li:nth-of-type(1) .icon.sc {
  background-image: url(../img/sc/sctab/current0.png);
}
.scmain .nav ul li:nth-of-type(2) .icon.sc,
.managemain .nav ul li:nth-of-type(2) .icon.sc {
  background-image: url(../img/sc/sctab/data0.png);
}
.scmain .nav ul li:nth-of-type(3) .icon.sc,
.managemain .nav ul li:nth-of-type(3) .icon.sc {
  background-image: url(../img/sc/sctab/speed0.png);
}
.scmain .nav ul li:nth-of-type(4) .icon.sc,
.managemain .nav ul li:nth-of-type(4) .icon.sc {
  background-image: url(../img/sc/sctab/warn0.png);
}
.scmain .nav ul li:nth-of-type(5) .icon.sc,
.managemain .nav ul li:nth-of-type(5) .icon.sc {
  background-image: url(../img/sc/sctab/search0.png);
}
.scmain .nav ul li:nth-of-type(1) .icon.ma,
.managemain .nav ul li:nth-of-type(1) .icon.ma {
  background-image: url(../img/ma/project0.png);
}
.scmain .nav ul li:nth-of-type(2) .icon.ma,
.managemain .nav ul li:nth-of-type(2) .icon.ma {
  background-image: url(../img/ma/dev0.png);
}
.scmain .nav ul li:nth-of-type(3) .icon.ma,
.managemain .nav ul li:nth-of-type(3) .icon.ma {
  background-image: url(../img/ma/recipe0.png);
}
.scmain .nav ul li:nth-of-type(4) .icon.ma,
.managemain .nav ul li:nth-of-type(4) .icon.ma {
  background-image: url(../img/ma/user0.png);
}
.scmain .nav ul li span.name,
.managemain .nav ul li span.name {
  line-height: 0.35rem;
}
.scmain .nav ul li:last-of-type,
.managemain .nav ul li:last-of-type {
  border-bottom: none;
}
.scmain .nav ul li.actived,
.managemain .nav ul li.actived {
  background: #6996F3;
  color: #fff;
}
.scmain .nav ul li:nth-of-type(1).actived .icon.sc,
.managemain .nav ul li:nth-of-type(1).actived .icon.sc {
  background-image: url(../img/sc/sctab/current1.png);
}
.scmain .nav ul li:nth-of-type(2).actived .icon.sc,
.managemain .nav ul li:nth-of-type(2).actived .icon.sc {
  background-image: url(../img/sc/sctab/data1.png);
}
.scmain .nav ul li:nth-of-type(3).actived .icon.sc,
.managemain .nav ul li:nth-of-type(3).actived .icon.sc {
  background-image: url(../img/sc/sctab/speed1.png);
}
.scmain .nav ul li:nth-of-type(4).actived .icon.sc,
.managemain .nav ul li:nth-of-type(4).actived .icon.sc {
  background-image: url(../img/sc/sctab/warn1.png);
}
.scmain .nav ul li:nth-of-type(5).actived .icon.sc,
.managemain .nav ul li:nth-of-type(5).actived .icon.sc {
  background-image: url(../img/sc/sctab/search1.png);
}
.scmain .nav ul li:nth-of-type(1).actived .icon.ma,
.managemain .nav ul li:nth-of-type(1).actived .icon.ma {
  background-image: url(../img/ma/project1.png);
}
.scmain .nav ul li:nth-of-type(2).actived .icon.ma,
.managemain .nav ul li:nth-of-type(2).actived .icon.ma {
  background-image: url(../img/ma/dev1.png);
}
.scmain .nav ul li:nth-of-type(3).actived .icon.ma,
.managemain .nav ul li:nth-of-type(3).actived .icon.ma {
  background-image: url(../img/ma/recipe1.png);
}
.scmain .nav ul li:nth-of-type(4).actived .icon.ma,
.managemain .nav ul li:nth-of-type(4).actived .icon.ma {
  background-image: url(../img/ma/user1.png);
}
.scmain .content,
.managemain .content {
  flex: 1;
}
li {
  list-style: none;
}
