.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
  font-size: 0.28rem;
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.demo-spin-col {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #eee;
}
.ivu-spin-fix {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}
.ivu-row {
  height: 4.5rem;
}
.newform {
  width: 95%;
  height: 6.5rem;
  margin: 0.5rem auto;
  overflow-y: scroll;
}
.ivu-btn-primary {
  background: #6996F3;
  border-color: rgba(105, 151, 243, 0.76);
}
.ivu-btn-error {
  background: #FE686D;
  border-color: rgba(254, 104, 109, 0.877);
}
.scpage {
  position: relative;
  padding: 0.3rem;
}
.road-back {
  position: absolute;
  right: 0.35rem;
  height: 0.4rem;
  width: 0.4rem;
  background-image: url('../img/sc/sctab/back.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.newuser input,
.newrecipe input {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgba(0, 0, 0, 0);
  font-size: 0.16rem;
  outline: none;
  color: #666;
  border: none;
}
.newuser input[type="text"]:focus,
.newrecipe input[type="text"]:focus {
  color: #666;
}
.newuser input::-webkit-input-placeholder,
.newrecipe input::-webkit-input-placeholder {
  color: #bbb !important;
}
